node_modules
.DS_Store
build

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local
